.ruleta {
    display: flex;
    width: 80%;
}

.info-visual{
    width: 20%;
}
.docena-numeros {
    /*Generar columnas de 3 celdas*/
    display: flex;
}

.docena-ceros {
    justify-content: center;
    align-items: center;
}

.apuesta-docena {

    width: 91.5%;
    /*Alinear objetos*/
    text-align: center;
    background-color: green;
    padding: 15px;
    border: 1.5px solid white;
    color: white;
    cursor: pointer;



}

.apuesta-docena:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.celda {
    border: 1.5px solid white;
    padding: 35px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.celda:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.negro {
    background-color: black;
}

.ruleta-img {
  transition: transform 4s ease-in-out;
  /* Puedes ajustar el tiempo desde JS también */
}
